a, blockquote span {
color: #991936;
}
a.button_full, a.button_small, .call_button a{
background-color:#991936;
}
.logo h2{
color:#fff;
}
h2.page_title{
border-bottom:3px #991936 solid;
}
#loadMore img{
background-color:#991936;
}
#pages_maincontent h3{
color:#991936;
}
.post_date, #loadMore{
color:#991936;
}
.contactform input.form_submit, .loginform input.form_submit, .commentform input.form_submit{
background-color:#991936;
}
.ui-page-theme-b .ui-btn.ui-btn-active, html .ui-bar-b .ui-btn.ui-btn-active, html .ui-body-b .ui-btn.ui-btn-active, html body .ui-group-theme-b .ui-btn.ui-btn-active, html head + body .ui-btn.ui-btn-b.ui-btn-active, .ui-page-theme-b .ui-checkbox-on::after, html .ui-bar-b .ui-checkbox-on::after, html .ui-body-b .ui-checkbox-on::after, html body .ui-group-theme-b .ui-checkbox-on::after, .ui-btn.ui-checkbox-on.ui-btn-b::after, .ui-page-theme-b .ui-flipswitch-active, html .ui-bar-b .ui-flipswitch-active, html .ui-body-b .ui-flipswitch-active, html body .ui-group-theme-b .ui-flipswitch-active, html body .ui-flipswitch.ui-bar-b.ui-flipswitch-active, .ui-page-theme-b .ui-slider-track .ui-btn-active, html .ui-bar-b .ui-slider-track .ui-btn-active, html .ui-body-b .ui-slider-track .ui-btn-active, html body .ui-group-theme-b .ui-slider-track .ui-btn-active, html body div.ui-slider-track.ui-body-b .ui-btn-active {
    background-color: #991936;
    border-color: #991936;
    color: #FFF;
    text-shadow: 0px 1px 0px #991936;
}
.slide_info{
color: #fff;
}

.ui-overlay-a{
background-color:#fff;
}
#homepage,
#homepage .ui-panel-wrapper {
	background-color:#991936;
}
.secondarypage,
.secondarypage .ui-panel-wrapper {
	background-color:#fff;
}

.main-nav ul li:nth-child(1){
background-color: #bf1939;
border-bottom:1px #fff solid;
}
.main-nav ul li:nth-child(2){
background-color: #bf1939;
	border-bottom:1px #fff solid;
}
.main-nav ul li:nth-child(3){
background-color: #bf1939;
	border-bottom:1px #fff solid;
}
.main-nav ul li:nth-child(4){
background-color: #bf1939;
	border-bottom:1px #fff solid;
}
.main-nav ul li:nth-child(5){
background-color: #bf1939;
	border-bottom:1px #fff solid;
}
.main-nav ul li:nth-child(6){
background-color: #bf1939;
	border-bottom:1px #fff solid;
}
.main-nav ul li:nth-child(7){
background-color: #bf1939;
	border-bottom:1px #fff solid;
}
.main-nav ul li:nth-child(8){
background-color: #bf1939;
	border-bottom:1px #fff solid;
}
.main-nav ul li:nth-child(9){
background-color: #bf1939;
	border-bottom:1px #fff solid;
}
.main-nav ul li:nth-child(10){
background-color: #bf1939;
	border-bottom:1px #fff solid;
}
.main-nav ul li:nth-child(11){
background-color: #bf1939;
	border-bottom:1px #fff solid;
}
.main-nav ul li:nth-child(12){
background-color: #bf1939;
	border-bottom:1px #fff solid;
}
.main-nav ul li:nth-child(13){
background-color: #bf1939;
	border-bottom:1px #fff solid;
}
.main-nav ul li:nth-child(14){
background-color: #bf1939;
	border-bottom:1px #fff solid;
}
.main-nav ul li:nth-child(15){
background-color: #bf1939;
	border-bottom:1px #fff solid;
}
.main-nav ul li:nth-child(16){
background-color: #bf1939;
	border-bottom:1px #fff solid;
}
.main-nav ul li:nth-child(17){
background-color: #bf1939;
	border-bottom:1px #fff solid;
}
.main-nav ul li:nth-child(18){
background-color: #bf1939;
	border-bottom:1px #fff solid;
}
.main-nav ul li:nth-child(19){
background-color: #bf1939;
	border-bottom:1px #fff solid;
}
.main-nav ul li:nth-child(20){
background-color: #bf1939;
}
.main-nav ul li a, .main-nav ul li a:visited, .main-nav ul li a:hover{
color:#fff;
}

.ui-bar-b,
.ui-page-theme-b .ui-bar-inherit,
html .ui-bar-b .ui-bar-inherit,
html .ui-body-b .ui-bar-inherit,
html body .ui-group-theme-b .ui-bar-inherit {
	background-color: 			#991936 /*{b-bar-background-color}*/;
	color: 					#fff /*{b-bar-color}*/;
}

.ui-body-b,
.ui-page-theme-b .ui-body-inherit,
html .ui-bar-b .ui-body-inherit,
html .ui-body-b .ui-body-inherit,
html body .ui-group-theme-b .ui-body-inherit,
html .ui-panel-page-container-b {
	background-color: 			#991936 /*{b-body-background-color}*/;
	color: 					#fff /*{b-body-color}*/;
	text-shadow: none;
}
.user_details{
background-color: #bf1939;
}
.user-nav ul li{
border-bottom:1px #fff solid;
}